body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.meuHeader {
    min-width: 760px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  background-color:white;
}

.marginTop {
    margin-top: 20px;
}

.foto-logo {
    float: left;
    padding: 15px 0px;
    margin-right: -5px;
    height: 80px;
}

.foto-perfil {
    float: left;
    padding: 15px 0px;
    margin-right: -5px;
    height: 80px;
}

.texto-logo {
  font-family: Georgia, serif;
  float: left;
  padding: 25px 15px;
  font-size: 28px;
  line-height: 30px;
  font-style: italic;
}

.texto-logo:hover,
.texto-logo:focus {
  text-decoration: none;
}

.campo-busca-usuario {
    margin: 27px 0 0 70px;
    width: 240px;
    border-radius: 10px;
}

.info-usuario {
    padding-top: 25px;
    margin-left: -25px;
}

.nome-usuario {
    font-weight: bold;
}

.classiicacao {
    font-size: 10px;
  line-height: 14px;
}

.sky-background {
    background: -moz-linear-gradient(top,  #ffffff 0%, #f2fdff 52%, #ffffff 100%); 
    background: -webkit-linear-gradient(top,  #ffffff 0%, #f2fdff 52%,#ffffff 100%); 
    background: linear-gradient(to bottom,  #ffffff 0%, #f2fdff 52%,#ffffff 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

.quero-quero-background {
    position: relative;
    top: 100px;
    margin-right: 120px;
}

.meuFooter {
    /*background-color: rgba(0, 202, 202, 0.2);
    box-shadow: 0px -3px 5px rgba(0, 202, 202, 0.4);*/

    background-color: #a0c19f;
    box-shadow: 0px -3px 5px #3b3939;
    height:35px;
}

.esconder {
    display: none;
}

.tri {
    width: 30px;
    height: 20px;
    border: none;
}

.mensagem{
    background-color:#d5d1d1;
    border:2px solid black;
    border-radius:10px;
    width:500px;
    height:auto;
    margin-top:20px;
}

.publicar{
    width:280px;
    height:60px; 
    border-radius:7px;
}

.comentario{
    background-color:#ffffff;
    border: 1px solid black;
    border-radius:5px;
    width:300px;
    height:auto;
    margin-left:97px;
}