.mensagem{
    background-color:#d5d1d1;
    border:2px solid black;
    border-radius:10px;
    width:500px;
    height:auto;
}
.comentario{
    background-color:#ffffff;
    border: 1px solid black;
    border-radius:5px;
    width:300px;
    height:auto;
    margin-left:97px;
}