@model CurtirModel

@if (Model.Curtidas > 0)
{
    <p class="tri-contador pull-left">@Model.Curtidas</p>
}

@if (Model.Curtido)
{
    <button class="tri pull-right" type="submit"><img id="curtir@(Model.IdPublicacao)" src="~/Content/img/TriSelecionado.png" class="tri" /></button>
}
else
{
    <button class="tri pull-right" type="submit"><img id="curtir@(Model.IdPublicacao)" src="~/Content/img/Tri.png" class="tri"/></button>
}
<input type="hidden" id="idPublicacao" name="idPublicacao" value="@Model.IdPublicacao" />
