@model TuiTche.WEB.MVC.Models.ListaDePublicacaoModel

<div id="pubs">
    @foreach (var publicacao in Model.ListaPublicacoes)
    {
        <div class=" mensagem">
            @if (publicacao.UsuarioCompartilhou != null)
            {
                <h4>Compartilhado por: @publicacao.UsuarioCompartilhou</h4>
            }
            <h4>Publicado por: @publicacao.NomeUsuario</h4>
            <p>@publicacao.Mensagem</p>
            <div class="text-center">
                @{Html.RenderAction("_CarregarComentarios", "Publicacao", new { idPublicacao = @publicacao.IdPublicacao });}
            </div>
            <div class="text-center">
                <button id="compartilhar" onclick="compartilhar(this); notifyMe();" >Compartilhar</button>
            </div>
        </div>
        <script>
            (function changeId ()
            {
                var e = document.getElementById("compartilhar");
                e.id = "compartilhar"+@publicacao.IdPublicacao;
            })();
        </script>
}
</div>
<script>
    var id;
    var dataObject;
    function compartilhar(e){
        id = e.id;
        dataObject = {'idPublicacao': id.substring(12,id.length) };
            $.ajax({
                url: 'Publicacao/Compartilhar',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(dataObject)
            })
    };
    function notifyMe() {
        if (!("Notification" in window)) {
            alert("Este navegador não suporte notificações desktop");
        }

        else if (Notification.permission === "granted") {
            var notification = new Notification("Mensagem Compartilhada!");
        }

        else if (Notification.permission !== 'denied') {
            Notification.requestPermission(function (permission) {

                if (!('permission' in Notification)) {
                    Notification.permission = permission;
                }
                if (permission === "granted") {
                    var notification = new Notification("Mensagem Compartilhada!");
                }
            });
        }
    }
</script>
