@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <header class="navbar-fixed-top meuHeader">
        <div class="container clearfix">
            <img src="~/Content/img/logo.png" class="foto-logo" />
            @Html.ActionLink("TuiTche", "Index", "Publicacao", new { area = "" }, new { @class = "texto-logo" })

            <input type="text" id="buscaUsuario" class="campo-busca-usuario pull-left" placeholder="Buscar usuarios..." />
        
            <div id="usuario-info" class="pull-left" >
                <img src="~/Content/img/logo.png" class="foto-perfil" />
            </div>
        </div>
    </header>

    <div class="container body-content marginTop">
        @RenderBody()
        <hr />
        
    </div>

    <footer class="navbar-fixed-bottom container">
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>