@model ListaComentarioVisualizarModel
@foreach (var comentario in Model.Comentarios)
{
    <div id="comentario" class="form-control" style="height:70px;width:330px; margin-left : 10px">
        <p>Comentario de: @comentario.Username - @comentario.DataComentario</p>
        <p>@comentario.Texto</p>
    </div>
}
