@model ListaComentarioVisualizarModel
@foreach (var comentario in Model.Comentarios)
{
    <div id="comentario" class="comentario text-center">
        <p>Comentario de: @comentario.Username - @comentario.DataComentario</p>
        <p>@comentario.Texto</p>
    </div>
}
