
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Linha do Tempo</h2>
<body>
    <div class="text-center">
        @Html.Partial("_Publicar")
    </div>

    <div>
        @Html.Partial("_ListarPublicacoes")
    </div>
</body>

