@{
    ViewBag.Title = "Index";
}
<div class="pull-left">
    <span>Seguidores:</span>
    <span id="seguidores"> </span>

    <div style="margin-top: 20px;">
        <span>Seguindo: </span>
        <span id="seguindo"></span>
    </div>
</div>
<h2 class="text-center">Linha do Tempo</h2>
<div class="pull-left" id="mais-usadas">
    <h3>Top 10 Tags Gauderias</h3>

</div>
<body>
        <div class="text-center">
            @Html.Partial("_Publicar")
        </div>
    <div id="lista" class="text-center" style="margin-left:400px;">
        @{Html.RenderAction("_ListarPublicacoes", "ListarPublicacoes");}
    </div>



    <script type="text/javascript">

    var next = 0;
    var index = 2;

    $(window).scroll(function () {

        if ($(window).scrollTop() == $(document).height() - $(window).height()) {

            $.post("@Url.Action("getData", "ListarPublicacoes")", { "next": next=next+index },
                    function (data) {
                        $("#lista").append(data.HTMLString);
                    });
        }
    });
    </script>
        <script>
            var value;
            var maisUsadas = [];
            var valTeste;
            $.get("../Timeline/NumeroDeSeguidores", function (data) {
                value = data;
                $("#seguidores").html(value);

            });
            $.get("../Timeline/NumeroDeSeguindo", function (data) {
                $("#seguindo").html(data);
            });

            $.get("../Timeline/PalavrasMaisUtilizadas", function (data) {
                maisUsadas = data;
            }).done(function (data) {
                var cont = 1;
                maisUsadas.forEach(function (val) {
                    valTeste = val;
                    $("#mais-usadas").append("<p>"+cont+" - #" + val.label + "</p>");
                    cont++;
                });
            })
    </script>
</body>

