@{
    ViewBag.Title = "Index";
}

<body>
    <div class="pull-left">
        <span>Seguidores:</span>
        <span id="seguidores"> </span>
        <div style="margin-top: 5px;">
            <span>Seguindo: </span>
            <span id="seguindo"></span>
        </div>
    </div>
    <h2 class="text-center">Linha do Tempo</h2>
    <div class="pull-left" style="position:fixed;top:140px;">
        <h3>Top 10 tags gaudérias</h3>
        <table class="table table-responsive table-bordered table-hover pull-left" style="width:300px;">
            <tr>
                <th>Ranking</th>
                <th>Hashtag</th>
            </tr>
            <tbody id="mais-usadas">
            </tbody>
        </table>
    </div>
<div class="text-center">
    @Html.Partial("_Publicar")
</div>
    <div id="lista" class="text-center" style="margin-left:400px;">
        @{Html.RenderAction("_ListarPublicacoes", "ListarPublicacoes");}
    </div>



    <script type="text/javascript">

    var next = 0;
    var index = 2;

    $(window).scroll(function () {

        if ($(window).scrollTop() == $(document).height() - $(window).height()) {

            $.post("@Url.Action("getData", "ListarPublicacoes")", { "next": next=next+index },
                    function (data) {
                        $("#lista").append(data.HTMLString);
                    });
        }
    });
    </script>
        <script>
            var value;
            var maisUsadas = [];
            var valTeste;
            $.get("../Timeline/NumeroDeSeguidores", function (data) {
                value = data;
                $("#seguidores").html(value);

            });
            $.get("../Timeline/NumeroDeSeguindo", function (data) {
                $("#seguindo").html(data);
            });

            $.get("../Timeline/PalavrasMaisUtilizadas", function (data) {
                maisUsadas = data;
            }).done(function (data) {
                var cont = 1;
                maisUsadas.forEach(function (val) {
                    valTeste = val;
                    $("#mais-usadas").append("<tr><td>"+cont+"</td>" +" <td>#"+ val.label + "</td></tr>");
                    cont++;
                });
            })
    </script>
</body>

